@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

.blury {
  backdrop-filter: blur(15px);
  background-color: rgba(128, 128, 128, 0.2);
}

.topb {
  transform: translateY(8px) rotate(45deg);
}
.middleb {
  opacity: 0;
}
.bottomb {
  transform: translateY(-8px) rotate(-45deg);
}

.hero-section {
  height: 100vh;
  background-image: url('../assets/images/cerdo.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}