.gridcatering{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.hiddentext{
    display: block;
}

@media (width < 730px){
    .gridcatering{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .hiddentext{
        display: none;
    }
}


