.order_card {
  position: absolute;
  top: 80%;
  border-radius: 80% 80% 80% 80%/ 70% 70% 70% 70%;
}

.toparrow{
  transform: rotate(42deg) translateX(-6px)
}

.bownarrow{
  transform: rotate(-42deg) translateX(-6px)
}

.tailarrow{
  top: 50%;
}

.tailarrow:hover{
  width:2rem;
}