.highlights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.span_r_2 {
  grid-row: span 2;
}

.span_rc_2 {
  grid-row: span 2;
  grid-column: span 2;
}

.reviews{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}